
        ul{width: 100%;height: 260px;position: relative;top: 20px}
        ul li{list-style: none;width: 160px;position: relative;height: 65px;}
        ul li a{text-decoration: none;color: #030802; }
        /*ul li:hover a{color: #e2060f;}*/
        *{padding: 0;margin: 0}
        #left{width: 80%;height: 500px;background: #ffffff;
            box-shadow: 0px 0px 5px 2px #8f8f8f;  /*Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+*/
            -webkit-box-shadow: 0px 0px 5px 2px #8f8f8f;
            -moz-box-shadow: 0px 0px 5px 2px #8f8f8f;
            /*background-clip: padding-box;*/
            opacity: 0.8; /*透明度*/
            position:absolute ;left:10%;top: 20px;
            min-width: 100px;

        }
        #im{width: 100%;height: 150px;}
        #img2{width:80%;height: 120px;  position: absolute;left: 10%;top: 25px; /*透明度*/}
        #p{position: absolute;top: 170px;text-align: center;width: 100%;}
        #zhanghao{margin-top: -10px;}
        #line3{width: 80%;height: 1px;background: rgba(3, 8, 2, 0.26);position: absolute;left: 10%;top: 190px;}
        #left2{position: absolute;top: 180px;width: 100%}
        #left2 li{list-style: none;width: 100%}
        #left2 a{text-decoration: none; font-size: medium;}
        .dd{width: 70%;margin-left: 30%;padding-top:10%}